
.navbar-nav .nav-link:hover {
    color:aquamarine
  
}

.nav-link{
    color: aliceblue;
}

body{
    background-color:white
}

.portfolio-item:hover{
    background-color:black;
}

h1{
    color: black;
}



